:root {
    --font: #2e2e2e;
    --contain: #fff;
    --progress: #778899;
    --progressInner: #7fff00;
    --btnBg: #5f9ea0;
    --btnCol: #f0f8ff;
    --btnBorder: #a9a9a9;
    --btnHover: #d2691e;
    --btnDisableBg: #cccccc;
    --btnDisableCol: #999999;

}


@font-face {
    font-family: 'raleway-medium';
    src: url(../fonts/Raleway-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'raleway-medium';
    line-height: 1.3;
    color: var(--font);
    background: url(../images/bg.svg) repeat;
    background-size: 250px auto;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0.6rem;
    text-transform: capitalize;
}

p {
    margin-bottom: 0.5rem;
}

img {
    display: block;
    text-align: center;
    max-width: 100%;
    height: auto;
    border: 3px solid var(--btnBorder);
    margin: 2rem auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--contain);
    min-height: 100vh;
}

.progress {
    width: 100%;
    height: 0.6rem;
    background-color: var(--progress);
}

.progress__inner {
    height: inherit;
    background-color: var(--progressInner);
    transition: width .6s ease-in;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav button {
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--btnBg);
    cursor: pointer;
    color: var(--btnCol);
    border: none;
    border-top: 3px solid var(--btnBorder);
    border-bottom: 3px solid var(--btnBorder);
}

nav button:hover {
    background-color: var(--btnHover);
    transition: background-color .3s linear;
}

button:disabled,
button[disabled] {
    background-color: var(--btnDisableBg);
    color: var(--btnDisableCol);
    cursor: not-allowed;
}

button:disabled:hover,
button[disabled]:hover {
    background: var(--btnDisableBg);
}

.card {
    position: relative;
}

.card__front,
.card__back {
    background-color: var(--contain);
    padding: 1.6rem;
    position: absolute;
    top: 0;
    opacity: 0;
}

.show {
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}