:root {
    --font: #2e2e2e;
    --contain: #fff;
    --progress: #778899;
    --progressInner: #7fff00;
    --btnBg: #5f9ea0;
    --btnCol: #f0f8ff;
    --btnBorder: #a9a9a9;
    --btnHover: #d2691e;
    --btnDisableBg: #cccccc;
    --btnDisableCol: #999999;
    --overlay: #262626;
    --loader: #fff000;

}


@font-face {
    font-family: 'raleway-medium';
    src: url(../fonts/Raleway-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'raleway-medium';
    line-height: 1.3;
    color: var(--font);
    background: url(../images/bg.svg) repeat;
    background-size: 250px auto;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0.6rem;
    text-transform: capitalize;
}

p {
    margin-bottom: 0.5rem;
}

img {
    display: block;
    text-align: center;
    max-width: 100%;
    height: auto;
    border: 3px solid var(--btnBorder);
    margin: 2rem auto;
}

body.loading .overlay {
    display: block;
}

body.loading .container {
    display: none;
}

.overlay {
    display: none;
    width: 100vw;
    max-height: 100vh;
    background-color: var(--overlay);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.circle {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    color: var(--loader);
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--loader);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.circle:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid var(--loader);
    border-right: 3px solid var(--loader);
    border-radius: 50%;
    animation: outerCircle 2s linear infinite;
}

.circle span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: ball 2s linear infinite;
}

.circle span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--loader);
    top: -8px;
    right: -8px;
    box-shadow: 0 0 20px var(--loader);
}


@keyframes ball {
    0% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(405deg)
    }

}

@keyframes outerCircle {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--contain);
    min-height: 100vh;
}

.progress {
    width: 100%;
    height: 0.6rem;
    background-color: var(--progress);
}

.progress__inner {
    height: inherit;
    background-color: var(--progressInner);
    transition: width .6s ease-in;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav button {
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--btnBg);
    cursor: pointer;
    color: var(--btnCol);
    border: none;
    border-top: 3px solid var(--btnBorder);
    border-bottom: 3px solid var(--btnBorder);
}

nav button:hover {
    background-color: var(--btnHover);
    transition: background-color .3s linear;
}

button:disabled,
button[disabled] {
    background-color: var(--btnDisableBg);
    color: var(--btnDisableCol);
    cursor: not-allowed;
}

button:disabled:hover,
button[disabled]:hover {
    background: var(--btnDisableBg);
}

.card {
    position: relative;
}

.card__front,
.card__back {
    background-color: var(--contain);
    padding: 1.6rem;
    position: absolute;
    top: 0;
    opacity: 0;
}

.show {
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}